@model IEnumerable<SprintCardGenerator.Models.CardViewModel>
@{
    ViewBag.Title = "Sprint cards";
}
@section extrahead
{
    <style type="text/css">
        table.card
        {
            float: left;
            margin: 10px;
            height: 300px;
            width: 400px;
            page-break-inside: avoid;
            -webkit-print-color-adjust: exact;
            border: 1px solid black;
            border-collapse: collapse;
        }

        table.card td, table.card th
        {
            border: 1px solid black;
            padding: 5px;
        }

        table.card tr.summary
        {
            font-weight: bold;
            width: 150px;
        }

        table.card td.label
        {
            width: 130px;
        }

        @foreach (var projectColor in ViewBag.ProjectColors)
        {
            <text>.</text>@projectColor.Key @:th {
            @:background: @projectColor.Value ; 
            @:}            
        }
    </style>
}

@foreach (var card in Model)
{
    <table class="card @card.ProjectKey">
    <tr>
        <th colspan="2">@card.IssueKey<br>@card.ProjectKey<br></th>
    </tr>
    <tr class="summary">
        <td colspan="2">@card.Summary</td>
    </tr>
    <tr>
        <td class="label">Assignee</td><td>@card.Assignee</td>
    </tr>
    <tr>
        <td class="label">Status</td><td>@card.Status</td>
    </tr>
    <tr>
        <td class="label">Original estimate</td><td>@card.OriginalEstimate</td>
    </tr>
    <tr>
        <td class="label">Time remaining</td><td></td>
    </tr>
    </table>
}